:root {
    --color-dark1: #09090A;
    --color-dark2: #0F1012;
    --color-dark3: #121114;
    --color-purple: #5901e6e8;
    --color-purple2: #5801e4b6;
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: var(--color-dark1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem; /*1rem = 16px*/
}

h1 {
    margin-top: 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#add-item-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#input-new-task,
#btn-add-task {
    font-size: 1rem;
    padding: 1rem;
    outline: none; /*Outline tira a faixa que aparece fora do input*/
}

#input-new-task {
    width: 20rem;
    padding: 1rem;
    border-radius: 10px;
}

#btn-add-task {
    background-color: var(--color-purple);
    color: #fff;
    border-radius: 50%;
    width: 50px; height: 50px;
    cursor: pointer;
    transition: .5s;
}

#btn-add-task:hover {
    background-color: var(--color-purple2);
}

#options-container {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

#incomplete-tasks,
#complete-tasks {
    padding: 1rem;
    border-radius: 10px;
    font-weight: bold;
    background-color: var(--color-purple);
    color: #fff;
    cursor: pointer;
}

#to-do-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

#to-do-list li {
    list-style-type: none;
    font-size: 1.5rem;
    text-transform: capitalize; /*Esse método irá sempre deixar a primeira letra da frase em maiúsculo*/
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: .4rem .8rem;
    border-radius: 1.5rem;
    transition: .3s;
    width: 20vw;
    flex-wrap: wrap;
}

#to-do-list li:hover {
    background-color: var(--color-dark2);
    padding-left: 1rem;
}

#ok-btn {
    background-color: var(--color-purple);
    border: none;
    color: #fff;
    border-radius: 50%;
    width: 50px; height: 50px;
    padding: .4rem .8rem;
    cursor: pointer;
    transition: .5s;
}

#ok-btn:hover {

}